<mat-toolbar>
    <mat-toolbar-row>
        <span>HAUFE ADVISORY</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="filter female" [class.selected]="(state | async)?.showFemale"
            (click)="toggleFilterFemale()">
            <img src="/assets/woman.svg" alt="filter female">
        </button>
        <button mat-icon-button aria-label="filter male" [class.selected]="(state | async)?.showMale"
            (click)="toggleFilterMale()">
            <img src="/assets/man.svg" alt="filter male">
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<main>
    <div class="card-wrapper">
        <!-- Haiku from https://www.gnu.org/fun/jokes/error-haiku.en.html -->
        <p class="error-wrapper" *ngIf="(state | async)?.hasError; else showCards">
            the web site you seek<br>
            cannot be located but<br>
            endless others exist
        </p>
        <ng-template #showCards>
            <expert-card [expert]="expert" *ngFor="let expert of experts | async"></expert-card>
        </ng-template>
    </div>
</main>
