mat-toolbar {
    background-color: #232a36;
    color: #ffffff;
    .mat-toolbar-row {
        max-width: 1024px;
        width: 75%;
        margin: 1em auto;

        .spacer {
            flex: 1 1 auto;
        }
        img {
            height: 2em;
            width: 2em;
        }
        button:not(:first-of-type) {
            margin-left: 1em;
        }
    }
}

main {
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 1em 0;
    .error-wrapper {
        font-size: 2em;
        font-weight: 600;
        margin: 2em 0;
        line-height: 1.5em;
        text-align: center;
    }
    .card-wrapper {
        max-width: 512px;
        width: 75%;
        margin: 1em auto;
    }
}
