<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar" [style.background-image]="'url(' + expert.photoUrl + ')'"></div>
    <mat-card-title>{{ expert.title }} {{ expert.firstName }} {{ expert.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ expert.gender }} expert</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <ng-container *ngIf="hideDetails; else showDetails"> 
      <p>{{ shortText }}</p>
    </ng-container>
    <ng-template #showDetails >
      <p>{{ expert.text }}</p>
      <p>
        <strong>Address:</strong><br>
        {{ expert.address.streetName }} {{ expert.address.streetNumber }}<br>
        {{ expert.address.postcode }} {{ expert.address.city }} {{ expert.address.country }}
      </p>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button mat-icon-button (click)="toggleDetails()">
      <mat-icon *ngIf="hideDetails">expand_more</mat-icon>
      <mat-icon *ngIf="!hideDetails">expand_less</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
