/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: #232a36;
    background-image: linear-gradient(140deg, #ffffff, #03b9b6);
    color: #232a36;
    height: 100vh;
    overflow-y: hidden;
}

.selected {
    background: #03b9b6;
    background-image: linear-gradient(140deg, #ffffff, #03b9b6 60%);
}
